extends layout

block content
    h1 'Welcome to Deepnosis!'
  
    pre Thank you for subscribing. It’s good to have you here! 
        p You will start receiving updates right here in your inbox about the new cool App that we are working on. 